<div class="container-add-edit">
  <div class="card-add-edit">
    <h2 class="form-title">Formulario de registro</h2>
    <section class="layout-form">
      <div>
        <label>test</label>
        <input>
      </div>
      <div>
        <label>test</label>
        <input>
      </div>
      <div>
        <label>test</label>
        <input>
      </div>
      <div>
        <label>test</label>
        <input>
      </div>
      <div>
        <label>test</label>
        <input>
      </div>
      <div>
        <label>test</label>
        <input>
      </div>
      <div>
        <button>Cancelar</button>
      </div>
      <div>
        <button>Registrar</button>
      </div>

    </section>
  </div>

</div>


