
.layout-form {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2%;
}

.input-invalid{
  border-color: red;
  color:red;
}

.hint-invalid{
  color: red;
  display: block;
  float: left;
  margin: 0% 0% 5% 5%;
}

label {
  display: block;
}

.container-add-edit {
  width: 100%;
  text-align: -webkit-center;
}

.card-add-edit {
  width: 50%;
  text-align: -webkit-center;
  background-color: white;
  border-radius: 8px;
  position: relative;
  display: flow-root;
}

label {
  text-align: left;
  width: 90%;
  margin-top: 5px;
}

input {
  width: 90%;
  border-radius: 4px;
  border: solid 1px;
  height: 30px;
}

.form-title {
  border-bottom: solid;
}

.button-rigth {
  justify-self: end;
  padding-right: 5%;
}

.button-left {
  justify-self: start;
  padding-left: 5%;
}

@media (max-width: 767px) {
  .layout-form {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    padding-bottom: 2%;
  }
  .card-add-edit {
    width: 100%;
  }

  label {
    padding-left: 5%;
  }

  .button-rigth {
    display: block;
    justify-self: center;
    padding-right: 0;
    margin-bottom: 10px;
  }
  .button-left {
    display: block;
    justify-self: center;
    padding-left: 0;
    margin-bottom: 10px;
  }

}
